<mat-toolbar>
	<span>Git Visuals</span>
</mat-toolbar>

<div class="split left" id="leftroot">
	<div class="centered1">
		<app-graph></app-graph>
	</div>
</div>

<div class="split right">
	<div class="centered2">
		<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" preserveContent>
			<mat-tab label="Github Links">
				<app-linkinput></app-linkinput>
			</mat-tab>
			<mat-tab label="Paths">
				Content
			</mat-tab>
			<mat-tab label="Analysis">
				Content
			</mat-tab>
		  </mat-tab-group>
	</div>
</div>

