.margins {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

mat-form-field {
	width: 100%;
}

.githubUrlItem {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.outline {
    border-style: solid;
    border-width: medium;
}