<div class="margins">
	<mat-card>
		<mat-card-header>
		  <mat-card-title>Github</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="githubUrlInputForm">
				<mat-form-field appearance="outline">
					<mat-label>Enter a Github URL</mat-label>
					<input formControlName="githubUrlInput" matInput>
				</mat-form-field>
			</form>
			<mat-divider></mat-divider>
		</mat-card-content>
		<mat-card-actions>
		  <button mat-raised-button color="primary" (click)="onLoadGithubUrl($event)">LOAD REPOSITORY</button>
		</mat-card-actions>
	</mat-card>
</div>

<div class="margins">

	<mat-card>
		<mat-card-header>
			<mat-card-title>Github URLs</mat-card-title>
		</mat-card-header>
		<mat-selection-list #githubUrlSelectionList [multiple]="false">
			<mat-list-option *ngFor="let url of githubUrls" [value]="url">
				{{url}}
			</mat-list-option>
		</mat-selection-list>
	</mat-card>
</div>

<p>
	Option selected: {{githubUrlSelectionList .selectedOptions.hasValue() ? githubUrlSelectionList .selectedOptions.selected[0].value : 'None'}}
</p>


