<div class="margins">
	<mat-card>
		<mat-card-header>
		  <mat-card-title>You are veiwing:</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<h2 class="md-display-3">{{you_are_viewing}}</h2>
		</mat-card-content>
	</mat-card>
</div>

<div class="margins">
	<mat-card>
		<mat-card-header>
		  <mat-card-title>Github</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="githubUrlInputForm">
				<mat-form-field appearance="outline">
					<mat-label>Enter a Github URL</mat-label>
					<input formControlName="githubUrlInput" matInput>
				</mat-form-field>
			</form>
			<mat-divider></mat-divider>
		</mat-card-content>
		<mat-card-actions>
		  <button mat-raised-button color="primary" (click)="onLoadGithubUrl($event)">LOAD REPOSITORY</button>
		</mat-card-actions>
	</mat-card>
</div>

<div class="margins">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Github Repositories</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-selection-list #repolist [multiple]="false" [(ngModel)]="selected_reposotories" (ngModelChange)="onRepositorySelectionChanged($event)">
				<cdk-virtual-scroll-viewport 
				[itemSize]="20" 
				class="urls-list-viewport">
					<mat-list-option
					*cdkVirtualFor="let item of repositories;"
					[value]="item" 
					[selected]="selection.isSelected(item)">
						{{item}}
					</mat-list-option>
				</cdk-virtual-scroll-viewport>
			</mat-selection-list>
			<mat-divider></mat-divider>
		</mat-card-content>
		<mat-card-actions>
		<button mat-raised-button color="primary" (click)="onLoadGithubUrlFromList($event)">LOAD REPOSITORY</button>
		</mat-card-actions>
	</mat-card>
</div>

				<!-- <mat-list-option *ngFor="let url of githubUrls" [value]="url">
					{{url}}
				</mat-list-option> -->
